.flickity-prev-next-button {
    top: 50%;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    transform: translateY(-50%);

    background-color: rgb(31, 31, 31);
    color: rgb(226, 226, 226);
}

.flickity-prev-next-button.previous {
    left: 10px;
}

.flickity-prev-next-button.next {
    right: 10px;
}

.flickity-button:focus {
    box-shadow: none;
}

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: 3vw;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flickity-page-dot {
    display: block;
    /* width: 10px;
    height: 10px;
    padding: 0;
    margin: 0 8px; */
    width: 1vw;
    height: 1vw;
    padding: 0;
    margin: 0 0.75vw;

    background: hsla(0, 0%, 20%, 0.482);
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
    border: none;
    text-indent: -9999px;
    overflow: hidden;
} 

.flickity-page-dot:focus{
    box-shadow: none;
}

.flickity-page-dot.is-selected{
    background-color: rgb(27, 26, 26);
    /* width: 20px;
    border-radius: 5px; */

    width: 3vw;
    border-radius: 1vw;
}