.card {
    display: flex; /* Use Flexbox layout */
    align-items: center; /* Center items vertically */
    width: 75vw; /* Increased width for a larger card */
    background: #f5f4f4;
    padding: 2vw;
    border-radius: 1.75vw; /* Slightly increased border radius for a smoother look */
    box-shadow: 10px 10px 20px #c4c4c4, 
                -10px -10px 20px #c4c8c5; /* Adjusted box shadow for a raised effect */
    /* border: 1.5px solid rgb(0, 0, 0);  */
    margin-bottom: 2vw;
    overflow: hidden; /* Ensure children don’t overflow */
}


.searchForm {
    width: 100%;
    /* background-color: pink; */
    display: flex;
    /* gap: 5vw; */
    align-items: center;
    justify-content: space-between;
  }

  .dropdown {
    margin-left: 1vw;
    margin-right: 2vw;
    padding: 0.5vw;
    font-size: 1vw;
    border-radius: 0.5vw;
    border: 1px solid #ccc;
    font-family: "Unbounded", sans-serif;
    background-color: #fff;
  }

  .inputBox{
    margin-right: 1vw;
    border-radius: 2vw;
    border: 1px solid #818181;
    background-color: #fff;
    padding: 0.5vw;
    padding-left: 1vw;
    font-size: 1vw;
  }

  .label{
    font-size: 1.1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #818181;
  }